.navbar {
  width: 100%;
  height: 50px;
  background: linear-gradient(#122f5e, #5e779e);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.425);
  z-index: 999;
  padding: 0px;
  overflow: hidden;
  position: sticky;
  top: 0px;
}

.sticky {
  position: fixed;
  z-index: 999;
}

.btn {
  border-radius: 0px;
  height: 100%;
}

.loginBtn,
.registerBtn,
.loginBtnDiv {
  height: 100%;
}

.registerBtn {
  background-color: #30363b;
}

.registerBtn:hover {
  background-color: #222629;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.loginBtn:hover,
.donateBtn:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.loginBtn,
.registerBtn,
.donateBtn {
  font-family: "Abel", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

.donateBtn {
  font-size: 20px;
  background-color: #fe7f18;
}

.donateBtn:hover {
  background-color: #ec6a00;
}

/* lower nav section */
.lowerNav {
  background-color: white;
  text-align: center;
}

.logo {
  padding-top: 20px;
  height: 140px;
}

.logoDiv {
  margin: 0px;
}

.alumniText {
  font-size: 22px;
  color: #024885;
  font-family: "Times New Roman", Times, serif;
}

:root {
  --mainColor: #f76f00;
  --accentColor: black;
}

.navLink {
  font-family: "Abel", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #122f5e;
  padding: 7px 2px;
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  text-decoration: none;
  transition: background-size 0.3s;
}

.navLink:hover {
  text-decoration: none;
  color: white;
  background-size: 4px 50px;
}

.fa-caret-right {
  font-size: 20px;
}

.navItemDiv {
  margin: 30px;
}

.navRow {
  line-height: 0.5px;
  justify-content: center;
}
