.eventBox {
  font-family: "Abel", sans-serif;
  text-align: left;
  padding: 10px;
  width: 100%;
  background: linear-gradient(#f7f7f7, #fff);
  color: #122f5e;
  cursor: pointer;
  border-radius: 5px;
  margin: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
}
.displayDate {
  width: 80px;
  height: 80px;
  float: right;
  text-align: center;
  padding-top: 23px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(230, 230, 230);
  color: #122f5e;
}

.eventHeader {
  font-family: "Abel", sans-serif;
  text-align: center;
  font-weight: bold;
}

.eventBox:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
}
.hidden {
  display: none;
}
.open {
  display: block;
  -webkit-animation: slide-down 0.3s ease-out;
  -moz-animation: slide-down 0.3s ease-out;
}

.eventHr {
  width: 50%;
}

.detailsBtn {
  color: rgb(18, 47, 94);
  margin: 10px 0px;
  border: none;
  height: 35px !important;
  margin: 10px;
  border-radius: 3px !important;
  color: white;
  background-color: #f76f00;
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.281);
}

.detailsBtn:hover {
  background-color: #ce6611;
  color: white;
}

.buttonDiv {
  text-align: right;
  justify-content: right;
}

.formTitle {
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.rsvpForm {
  text-align: left;
}

.rsvpForm label {
  font-weight: normal;
  margin: 0px 10px 0px 2px;
  margin-top: 0px;
}

.rsvpBtn {
  color: rgb(18, 47, 94);
  margin: 10px 0px;
  border: none;
  height: 35px !important;
  margin: 10px;
  border-radius: 3px !important;
  color: white;
  background-color: rgb(18, 47, 94);
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.281);
}

.rsvpBtn:hover {
  background-color: rgb(10, 28, 54);
  color: white;
}
