.textBox {
  font-family: "Abel", sans-serif;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 5px;
  box-shadow: 6px 6px 15px rgb(32, 32, 32);
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 300px;
  padding: 20px;
  text-align: center;
  color: #122f5e;
  font-size: 22px;
}

.carouselItemDiv {
  /* width: 100%; */
  position: relative;
  object-fit: cover !important;
  height: 100vh;
}

.carouselItemTitle {
  font-weight: bold;
  font-size: 24px;
}

.carouselItemDescription {
  font-size: 18px;
}

.carouselImg {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .carouselImg {
    width: 700px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
