.title {
  line-height: 2.5;
  font-size: 45px;
  color: #024885;
}

.pageDiv {
  font-family: "Abel", sans-serif;
  width: 100vw;
  min-height: 60vh;
  padding: 50px 90px;
  background-color: rgb(221, 221, 221);
  color: #122f5e;
}

.mainPage {
  width: 100vw;
  min-height: 100%;
}
