.footer {
  width: 100vw;

  text-align: center;
  position: relative;
  top: 0 !important;
  height: 40px !important;
  background-color: #122f5e;
  color: white;
  font-family: "Abel", sans-serif;
  padding: 0px;
}

.row {
  text-align: center;
}
